*.class
*~

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle/
/build/
!/gradle/**/*

# Eclipse
.classpath
.project
.settings/

# IDEA
*.iml
*.ipr
*.iws
/.idea/

# Libraries
/lib/*

# General test run stuff
/run/
/out/

# gitkeeps
!**/.gitkeep
